//Так как мы знаем что бы будет позиционировать кнопку с иконкой поиска относительно всего блока search
.search {
	position: relative;
	width: 100%;
}

//Наш search кладется на input, а этот инпут в себе содержит еще один инпут
.input input {
	width: 100%;
}
.button {
	position: absolute; //что бы она лежела вповерх
	top: 3px;
	right: 3px; //мы хотим что кнопка отступала сверху и справа от инпута на 3 пикселя
	width: 30px;
	height: 30px;

	padding: 7px; //зададим нужные пединги что бы svg внутри была по центру
}
